* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
  color: $black;
}

html, body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  @include row(center, center);
}

.wrapper {
  width: 100%;

  &--row {
    display: flex;
    flex-direction: row;
  }
}

.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 4rem;

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: 800;

  &--green{
    color: darken($green, 5%);
  }
}
