.credit-cards {
  margin-top: 4rem;
  @include row(space-between, center);
  flex-wrap: wrap;

  &__group {
    @include box-shadow;
    padding: 3rem;
    margin-bottom: 4rem;

    animation: up 500ms ease-in forwards;
  }

  @media (max-width: 900px) {
    @include column(space-between, center);
  }
}

.info {
  margin-top: 2rem;
  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__value {
    color: darken($green, 10%);
  }
}
