@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");

$green: #7be115;
$black: #252525;
$grey: #666666;
$white: #ffffff;
$red: #fc3b41;

$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$font-size: 10px;
